* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.contenedor {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(47deg, #2ee090, #dd22f6);
}

.menu {
    position: relative;
    width: 200px;
    height: 200px;
    background: #333555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    position: absolute;
    list-style: none;
}

.toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 4px black;
    font-size: 3rem;
    transition: .4s;
}



